.all_books {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #B6AD90; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow */
}
.book_block {
    flex: 0 0 17%; 
    margin: 10px;
    width: 200px;
    height: 400px; 
    background-color: #f5f5f5; 
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
}
* {
    font-family: "Shadow Into Light", cursive;
}

.book_block:hover {
    width: 210px;
    height: 400px;
    background-color: #e6ccb2; 
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
}

.book_link {
    text-decoration: none;
    color: inherit;
}

.book_image {
    width: 100%;
    height: auto; 
    margin-bottom: 10px; 
}

.book_details {
    padding: 10px;
}

.book_title {
    margin: 0;
    font-size: 1em;
}

.book_price {
    margin: 5px 0;
    font-size: 0.9em;
    font-weight: bold;
    color: #795548;
}

body {
    background-color: #f6f1de;
}
