body{
    background-color: #f6f1de;
    color: #582F0E;
}

.book{
    display: flex;
}

.bookimg{
    background-size : cover;
    height : 80vh;
    width : 50vw;
    margin : 0vh 3vw 2vh 3vw;
    border-radius: 15px;
}
* {
    font-family: "Shadow Into Light", cursive;
}

.bookdef{
    background-color: #B6AD90;
    border-radius: 30px;
    border-style: solid;
    padding: 3vh 3vw;
    margin: 3vh 3vw;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

h5 {
    font-size: 15px;
    margin-bottom: 8px;
    margin-left: 30px;
}

p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 8px;
    margin-left: 30px;
}

.btns{
    display:flex;
}

.borrow{
    background-color: #B6AD90;;
    margin: 0vh 3vw 3.75vh 5vw;
    padding: 1.25vh 2vw 1.25vh 1.5vw;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
.borrow a {
    text-decoration: none;
}

.edit{
    background-color: #B6AD90;;
    margin: 0vh 3vw 3.75vh 0.8vw;
    padding: 1.25vh 2vw 1.25vh 2vw;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.edit a {
    text-decoration: none;
}

.delete{
    background-color: #B6AD90;;
    margin: 0vh 0vw 3.75vh 0vw;
    padding: 1.25vh 2vw 1.25vh 1.75vw;
    border-radius: 10px;
    color: #582F0E;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.btnword{
    background-color: #B6AD90;;
    color: #582F0E;
    font-size: 15px;
    font-weight: bold;
}

.commentword{
    margin-left: 8vw;
}

.commentbox{
    margin-top: 1.25vh;
    margin-left: 10vw;
    width: 40vw;
    resize: none;
}

.commentbtn{
    background-color: #B6AD90;;
    margin: 3.75vh 1.5vw 3.75vh 3vw;
    padding: 1.25vh 6vw 1.25vh 1.5vw;
    border-radius: 10px;
    color: #582F0E;
    background-color: #B6AD90;;
    font-size: 15px;
    font-weight: bold;
    width: 5vw;
}
