body {
    background-color: #f6f1de;
}

.profile-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f1edd5;
    margin: 25px 0px 15px 25px;
    border: 2px solid #C2C5AA;
    outline: 1px solid #5a3313;
}


.profile-icon img {
    width: 100%;
    height: auto;
}


#profile-h1 {
    width: 200px;
    background-color: #ebe3b7;
    border-radius: 50px;
    color: #5a3313;
    padding: 15px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 25px auto 20px;
}

.profile-container {
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    background-color: #B6AD90;
    padding: 30px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


* {
    font-family: "Shadow Into Light", cursive;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile-h2 {
    color: #5a3313;
    margin: 40px 80px 10px 70px;
    border-bottom: 5px solid #d5cea7;
    border-radius: 4px;
    text-align: center;
}

.info-item {
    margin: 20px 20px 10px 80px;
    font-size: 18px;
    color: #502604;
    font-weight: bold;
}


.info-item {
    display: flex;
    align-items: center;
}

.info-label {
    margin-top: 10px;
    font-size: 18px;
    min-width: 120px;
}
  
.info-data {
    color: rgba(80, 38, 4, 0.6);
    margin-left: 100px;
}

#profile-h3 {
    color: #5a3313;
    width: 200px;
    margin: 20px 20px 20px 10px;
    border-bottom: 5px solid #d5cea7;
    border-radius: 4px;
    text-align: center;
}

li {
    margin: 10px;
    color: #432105;
    font-size: 18px;
}

.borrowed-books a {
    color: #5a3313;
    text-decoration: none;
    border: 3px solid #d5cea7;
    border-radius: 8px;
    background-color: #f1edd5;;
    font-weight: bold;
}

.borrowed-books a:hover {
    color: #422208;;
    text-decoration: underline;
    background-color: #f1edd5;
    font-weight: bold;
}


.edit-profile {
    margin-top: 60px;
}

.edit-profile a{
    color: #5a3313;
    text-decoration: none;
    border: 5px solid #d5cea7;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #f1edd5;;;
}


.edit-profile a:hover {
    color: #422208;;
    text-decoration: underline;
    background-color: #f1edd5;
    font-weight: bold;
}
