
.aboutus_book{
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    font-family: "Shadow Into Light", cursive;
}


.book_first_page{
   
    color: rgb(0, 0, 0);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    background-color: rgb(88, 47, 14);
    background-image: var(--background-image-url);
    background-size: cover;
    border-radius: 20px;
}
.book_first_page ul,h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.aboutus_text{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    color: white;
}
