body {
  background-color: #f6f1de;
}
.container {
  padding: 20px;
  margin: 100px auto;
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
  background-color: #B6AD90
}
* {
  font-family: "Shadow Into Light", cursive;
}


.container header {
  font-size: 25px;
  font-weight: 600;
  color: #582F0E;
}

.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
}

.container form .bookDetails {
  margin-top: 30px;
}

.container form .title {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin: 6px 0;
  color: #582F0E;
}

.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .inputField {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.inputField input {
  outline: none;
  font-weight: 400;
  color: #7F4F24;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  background-color: #f2f4eb;
}

.inputField input:hover {
  background-color: #fff;
  border: 3px solid #b9bea6;
  outline: 3px solid #582F0E;
}

.inputField input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.container .form .bookDetails .fields .avaCheck .btn {
  background-color: #582F0E;
  border: none;
  color: #e2ded0;
  padding: 20px 30px;
  font-size: 15px;
  margin: 14px 44px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: -2px;
}

input[type=submit] {
  background-color: #582F0E;
  color: #e2ded0;
  padding: 12px 111px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: 21px;
}

input[type=reset] {
  background-color: #582F0E;
  color: #e2ded0;
  padding: 12px 111px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: 21px;
}