body {
  background-color: #f6f1de;
}
* {
  font-family: "Shadow Into Light", cursive;
}

.container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 100px auto;
  box-sizing: border-box;
  background-color: #B6AD90;
  border-radius: 10px;
}

.container header {
  font-size: 25px;
  font-weight: 600;
  color: #582F0E;
}

.container form {
  position: relative;
  margin-top: 16px;
  min-height: 425px;
}

.container form .form .persoanlDetials {
  margin-top: 30px;
}

.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
}

.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .inputField {
  display: flex;
  width: calc(100% / 1 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.inputField label {
  font-size: 18px;
  font-weight: 500;
  color: #7F4F24;
}

.inputField input {
  outline: none;
  font-weight: 400;
  font-size: 14px;
  border: 3px solid #b9bea6;
  background-color: #f2f4eb;
  border-radius: 5px;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.inputField input:hover {
  background-color: #fff;
  border: 3px solid #b9bea6;
  outline: 3px solid #582F0E;
}

.inputField input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

input[type=submit] {
  background-color: #582F0E;
  color: white;
  padding: 12px 111px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: 21px;
}

input[type=reset] {
  background-color: #582F0E;
  color: white;
  padding: 12px 111px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: 21px;
}
