{% extends 'layout.html' %}
{% load static %}


{% block head_block  %}
    <script src="{% static 'js/profile.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/profile_styles.css' %}" >
{% endblock  %}

{% block title %}
    EgyBooks | Profile
{% endblock title %}

{% block content %}
    <div class="profile-container">
        <h1 id="profile-h1">My profile</h1>

        <div class="profile-info">
        <div class="profile-icon">
            <img src="{% static 'images/profile_icon.png' %}" alt="profile picture">
        </div>

        <div class="acc-info">
            <h2 id="profile-h2">Account info</h2>
            
            <div class="info-item">
                <span class="info-label">Username</span> 
                <span class="info-data" id="profile-username"> {{ user.username }} </span>
            </div>

            <br>

            <div class="info-item">
                <span class="info-label">Email</span> 
                <span class="info-data" id="profile-email"> {{ user.email }}</span>
            </div>

            <br>

            <div class="info-item">
                <span class="info-label">Account Type</span>
                 <span class="info-data" id="profile-account-type"> 
                    {% if user.is_superuser %}
                        Admin
                    {% else %}
                        User
                    {% endif %}
                 </span>
            </div>

        </div>
        
        </div>

        <br>

        <div class="borrowed-books">
            <h3 id="profile-h3">Borrowed Books History</h3>
            <ul id="borrowed-books-list">
            </ul>
        </div>

        <br>

        <div class="edit-profile">
        <a href="{% url 'user:edit-profile'%}">Edit Profile</a>
        </div>
    </div>
{% endblock content %}