
.search_input_container {
    position: relative;
}

/* Additional styling for the SVG if needed */
.search_icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search_bar {
    position: relative;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_icon{
    display: flex;
    justify-content: center;
  }
  
  .input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .search_bar svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }
  .filter{
    border-radius: 999px;
    border-width: 0.25px ;
    text-align: center;
  }
  * {
    font-family: "Shadow Into Light", cursive;
}

